button {
    margin: 20px;
}
body {
    text-align: center;
}

.header-img {
    width: 100%;
    height: 0px;
    
    background-size: cover;
    background-color: aqua;
  }

  .header {
      background-color: rgb(192, 212, 236);
  }
  .tabs is-fullwidth{
    background-color: rgb(192, 212, 236);
    
  }

  .body{
    
    
    background-size: auto;
  }
  .block {
    display: block;
    width: 100%;
    border: none;
    background-color: #0bb3f5;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
  }

  #bg{
      position: absolute;
  }

  .big-btn {
    width: 655px;
    height: 313px;
}
#logo {
  margin: 15px;
}